# 任务1

### 连接数据库

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2000013058:stu2000013058@162.105.146.37:43306

In [ ]:
%sql use stu2000013058;

- 创建testInedx

In [13]:
 %%sql
DROP TABLE IF EXISTS testIndex;
SET @i = 0;
CREATE TABLE testIndex SELECT (@i :=@i + 1) AS id, userId AS A, movieId AS B, tag AS C FROM dataset.tags;

 * mysql://stu2000013058:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
3683 rows affected.

[]

### 针对A列的分组和自连接操作，观察A列上建立索引前后的性能差异

- 建立索引前：分组操作

In [14]:
%%time
%%sql

SELECT min(B) FROM testIndex GROUP BY A;

 * mysql://stu2000013058:***@162.105.146.37:43306
58 rows affected.
CPU times: user 3.58 ms, sys: 6.18 ms, total: 9.76 ms
Wall time: 25.8 ms

- 建立索引前：自连接操作

In [19]:
%%time
%%sql

SELECT * FROM testIndex AS tmp1 JOIN testIndex AS tmp2 ON tmp1.A = tmp2.A;

 * mysql://stu2000013058:***@162.105.146.37:43306
2871591 rows affected.
CPU times: user 14.5 s, sys: 900 ms, total: 15.4 s
Wall time: 15.5 s

- 建立索引

In [27]:
%%sql

CREATE INDEX my_A ON testIndex(A);

 * mysql://stu2000013058:***@162.105.146.37:43306
0 rows affected.

[]

- 建立索引后：分组操作

In [28]:
%%time
%%sql

SELECT min(B) FROM testIndex GROUP BY A;

 * mysql://stu2000013058:***@162.105.146.37:43306
58 rows affected.
CPU times: user 4.1 ms, sys: 3.33 ms, total: 7.43 ms
Wall time: 34.3 ms

- 建立索引后：自连接操作

In [29]:
%%time
%%sql

SELECT * FROM testIndex AS tmp1 JOIN testIndex AS tmp2 ON tmp1.A = tmp2.A;

 * mysql://stu2000013058:***@162.105.146.37:43306
2871591 rows affected.
CPU times: user 14.8 s, sys: 1.71 s, total: 16.5 s
Wall time: 17 s

- 我们发现建立索引之后效率反而变低了，我们推测这是因为
    - 确实使用了索引进行查询
    - 索引的开销超过了顺序读的开销

### 针对select B where A类型的查询，观察基于(A, B)的组合索引相对于A上的单列索引的性能提升

- 使用A上的单列索引进行查询

In [31]:
%%time
%%sql

SELECT B FROM testIndex WHERE A = 424;

 * mysql://stu2000013058:***@162.105.146.37:43306
273 rows affected.
CPU times: user 6.07 ms, sys: 6.05 ms, total: 12.1 ms
Wall time: 30.3 ms

- 删除A上的索引，建立(A, B)上的组合索引

In [32]:
%%sql

DROP INDEX my_A ON testIndex;
CREATE INDEX my_A ON testIndex(A, B);

 * mysql://stu2000013058:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

- 使用基于(A, B)的组合索引进行查询

In [33]:
%%time
%%sql

SELECT B FROM testIndex WHERE A = 424;

 * mysql://stu2000013058:***@162.105.146.37:43306
273 rows affected.
CPU times: user 5.7 ms, sys: 3.41 ms, total: 9.1 ms
Wall time: 24.4 ms

- 在这个查询中，使用组合索引优于单列索引

### 对字符串的子字符串建立索引，观察函数索引的作用

- 建立索引前的三次查询(查询前3个字母、前两个字母和查询全部)

In [56]:
%%time
%%sql

SELECT * FROM testIndex WHERE SUBSTRING(C, 1, 3) = "pow";

 * mysql://stu2000013058:***@162.105.146.37:43306
4 rows affected.
CPU times: user 3.95 ms, sys: 2.46 ms, total: 6.41 ms
Wall time: 16.2 ms

In [68]:
%%time
%%sql

SELECT * FROM testIndex WHERE SUBSTRING(C, 1, 2) = "po";

 * mysql://stu2000013058:***@162.105.146.37:43306
59 rows affected.
CPU times: user 4.93 ms, sys: 2.82 ms, total: 7.75 ms
Wall time: 25.8 ms

In [60]:
%%time
%%sql

SELECT * FROM testIndex WHERE C = "powerful ending";

 * mysql://stu2000013058:***@162.105.146.37:43306
2 rows affected.
CPU times: user 5.44 ms, sys: 3.28 ms, total: 8.73 ms
Wall time: 30.8 ms

- 建立对前三个字母的索引

In [69]:
%%sql

CREATE INDEX my_C ON testIndex(C(3));

 * mysql://stu2000013058:***@162.105.146.37:43306
0 rows affected.

[]

- 重新进行查询

In [58]:
%%time
%%sql

SELECT * FROM testIndex WHERE SUBSTRING(C, 1, 3) = "pow";

 * mysql://stu2000013058:***@162.105.146.37:43306
4 rows affected.
CPU times: user 4.76 ms, sys: 2.6 ms, total: 7.36 ms
Wall time: 21.3 ms

In [66]:
%%time
%%sql

SELECT * FROM testIndex WHERE SUBSTRING(C, 1, 2) = "po";

 * mysql://stu2000013058:***@162.105.146.37:43306
59 rows affected.
CPU times: user 6.29 ms, sys: 2.49 ms, total: 8.78 ms
Wall time: 26.6 ms

In [62]:
%%time
%%sql

SELECT * FROM testIndex WHERE C = "powerful ending";

 * mysql://stu2000013058:***@162.105.146.37:43306
2 rows affected.
CPU times: user 5.09 ms, sys: 2.9 ms, total: 7.99 ms
Wall time: 20.5 ms

- 删除索引

In [67]:
%%sql

DROP INDEX my_C ON testIndex;

 * mysql://stu2000013058:***@162.105.146.37:43306
0 rows affected.

[]

- 可以看到，前3个字母和总字符串的查询的时间均发生了改变，意味着会从索引处进行查询，而前2个字母的查询时间没有发生太大变化，我们推测此时没有使用索引

# 任务3

- 连接数据库

In [87]:
db = pymysql.connect(host='162.105.146.37', user='stu2000013058', passwd='stu2000013058', port=43306, db = 'stu2000013058')
cursor = db.cursor()

%sql mysql://stu2000013058:stu2000013058@162.105.146.37:43306
%sql use stu2000013058;

 * mysql://stu2000013058:***@162.105.146.37:43306
0 rows affected.

[]

- 创建skyline数据表，同时，建立一个分区的my_skyline数据表

In [106]:
%%sql

DROP TABLE IF EXISTS skyline;
CREATE TABLE skyline(
    id INT PRIMARY KEY,
    x INT,
    y INT
);

DROP TABLE IF EXISTS my_skyline;
CREATE TABLE my_skyline(
    id INT,
    x INT,
    y INT
)
    PARTITION BY RANGE(x)
    (
        PARTITION m0 VALUES LESS THAN(10),
        PARTITION m1 VALUES LESS THAN(20),
        PARTITION m2 VALUES LESS THAN(30),
        PARTITION m3 VALUES LESS THAN(40),
        PARTITION m4 VALUES LESS THAN(50),
        PARTITION m5 VALUES LESS THAN(60),
        PARTITION m6 VALUES LESS THAN(70),
        PARTITION m7 VALUES LESS THAN(80),
        PARTITION m8 VALUES LESS THAN(90),
        PARTITION m9 VALUES LESS THAN(101)
    );

 * mysql://stu2000013058:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

- 生成随机数据

In [107]:
import random

cur_sql = "INSERT INTO skyline(id, x, y) VALUES (%d, %d, %d)"
my_cur_sql = "INSERT INTO my_skyline(id, x, y) VALUES (%d, %d, %d)"
n_samples = 1000
max_val = 100

for i in range(n_samples):
    x = random.randint(0, max_val)
    y = random.randint(0, max_val)
    cursor.execute(cur_sql % (i, x, y))
    cursor.execute(my_cur_sql % (i, x, y))

db.commit()

- 运行原始skyline查询，看看运行效率如何，同时简单观察一下原始集规模大小和相关性对结果集大小的影响

In [108]:
%%time
%%sql

SELECT *
FROM skyline h
WHERE NOT EXISTS (
    SELECT *
    FROM skyline h1
    WHERE h1.x <= h.x 
    AND h1.y <= h.y 
    AND (h1.x < h.x OR h1.y < h.y)
);

 * mysql://stu2000013058:***@162.105.146.37:43306
4 rows affected.
CPU times: user 4.96 ms, sys: 3.12 ms, total: 8.08 ms
Wall time: 19.4 ms

- 1000条数据运行时间为19.4 ms，10000条数据39.1 ms

- 我们对表中的x，y均建立索引

In [109]:
%%sql

CREATE INDEX my_x ON skyline(x);
CREATE INDEX my_y ON skyline(y);

 * mysql://stu2000013058:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

- 然后再运行上述查询

In [110]:
%%time
%%sql

SELECT *
FROM skyline h
WHERE NOT EXISTS (
    SELECT *
    FROM skyline h1
    WHERE h1.x <= h.x 
    AND h1.y <= h.y 
    AND (h1.x < h.x OR h1.y < h.y)
);

 * mysql://stu2000013058:***@162.105.146.37:43306
4 rows affected.
CPU times: user 4.95 ms, sys: 2.49 ms, total: 7.44 ms
Wall time: 38.2 ms

- 最后，我们对分区表进行查询，查看其性能

In [111]:
%%time
%%sql

SELECT *
FROM my_skyline h
WHERE NOT EXISTS (
    SELECT *
    FROM my_skyline h1
    WHERE h1.x <= h.x 
    AND h1.y <= h.y 
    AND (h1.x < h.x OR h1.y < h.y)
);

 * mysql://stu2000013058:***@162.105.146.37:43306
4 rows affected.
CPU times: user 4.72 ms, sys: 2.29 ms, total: 7.02 ms
Wall time: 50.7 ms

- 在本数据集上，分区表执行的时间要慢于原表